.stars5 {
  background-color: rgb(255, 219, 0);
}

.stars4 {
  background-color: rgb(137, 191, 23);
}

.stars3 {
  background-color: rgb(90, 182, 222);
}

.stars2 {
  background-color: rgb(222, 223, 222);
}

#timer-input {
  max-width: 350px;
}

#doll-table {
  max-width: 450px;
}
