#sim-controls {
  width: 570px;
}
.formation-row {
  height: 160px;
}
.tilegrid {
  right: 0;
}
.tilegrid-row {
  width: 36px;
}
.tilegrid-col {
  height: 12px;
}
.tilegrid-target {
  background-color: rgb(0,255,252);
}
.tilegrid-self {
  background-color: rgb(255,255,255);
}
.tilegrid-neutral {
  background-color: rgb(107,105,107);
}
.tilebuff-row {
  bottom: 0;
}
.tilebuff-row img {
  background-color: black;
}
.fp img, .armor img, .rof img, .eva img, .acc img, .crit img, .skillcd img, .critdmg img, .rounds img, .ap img, .hp img{
  height: 20px;
  width: 20px;
}
#enemy-eva, #enemy-armor, #enemy-count, #walk-time, #battle-length {
  width: 50px;
}
#day-btn img, #night-btn img {
  height: 23px;
  width: 23px;
  pointer-events: none;
}
.affection img {
  height: 40px;
  width: 40px;
  cursor: pointer;
}
.equip1, .equip2, .equip3 {
  height: 64px;
  width: 64px;
}
.add-doll img, .remove-doll img {
  width: 50px;
}
#equip-select img {
  height: 45px;
  width: 45px;
  pointer-events: none;
}
.stars5 button, img.stars5 {
  background-color: rgb(255, 219, 0);
}
.stars4 button, img.stars4 {
  background-color: rgb(137, 191, 23);
}
.stars3 button, img.stars3 {
  background-color: rgb(90, 182, 222);
}
.stars2 button, img.stars2 {
  background-color: rgb(222, 223, 222);
}
.stars1 button, img.stars1 {
  background-color: rgb(222, 182, 255);
}
.tooltip-inner {
  max-width: 450px;
  background-color: white;
  color: black;
}
.tooltip.show {
  opacity: 1;
}
#pos12 img, #pos13 img, #pos14 img, #pos22 img, #pos23 img, #pos24 img, #pos32 img, #pos33 img, #pos34 img, .dragging * {
  pointer-events: none;
}
#pos12, #pos13, #pos14, #pos22, #pos23, #pos24, #pos32, #pos33, #pos34 {
  cursor: move;
  background-color: rgb(185,185,185);
}
.table td {
  padding: 0px;
}
#damage-graph-modal .modal-dialog {
  width: 1000px;
  max-width: 1000px;
}

#doll-select .modal-dialog,
#doll-select .modal-content {
    /* 90% of window height, fixed so tabbing doesn't resize modal and move tabs */
    height: 90%;
}
#doll-select .modal-body {
    max-height: 100%;
}
#doll-select button {
  min-width: 80px;
}
.skill2, .skill-control  {
  visibility: hidden;
}

.doll-level-label, .skill-label, .skill2-label {
  width: 41px;
}

.fairy-level-label, .fairy-skill-label, .fairy-talent-label, .fairy-rarity-label {
  width: 45px;
}

#fairy-img {
  width: 150px;
  height: 150px;
}

input[type="number"]::-webkit-outer-spin-button, input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type="number"] {
    -moz-appearance: textfield;
}

.saved-team-col {
  width: 75px;
  background-color: rgb(185,185,185);
}

.saved-team-row {
  height: 75px;
}

.nav-item {
  width: calc(100%/6);
}

.img-nav {
  filter: invert(100%);
}

.active .img-nav {
  filter: invert(0%);
}

#doll-list-6, #doll-list-5, #doll-list-4, #doll-list-3, #doll-list-2, #doll-list-1 {
  height: 70vh;
  overflow-y: auto;
}
