#sim-controls {
  width: 570px;
}

.formation-row {
  height: 190px;
}

.tilegrid {
  right: 0;
}

.tilegrid-row {
  width: 36px;
}

.tilegrid-col {
  height: 12px;
}

/*****
 * BEGIN CSS for Slider "checkbox" */
.switch {
  position: relative;
  display: inline-block;
  width: 68px;
  height: 38px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 30px;
  width: 30px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #20c997;
}

input:focus + .slider {
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.75);
}

input:checked + .slider:before {
  -webkit-transform: translateX(30px);
  -ms-transform: translateX(30px);
  transform: translateX(30px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 38px;
}

.slider.round:before {
  border-radius: 50%;
}

/**
 * Half-size version of slider
 **/
.switch-small {
  position: relative;
  display: inline-block;
  width: 34px;
  height: 19px;
}

/* Hide default HTML checkbox */
.switch-small input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider-small {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider-small:before {
  position: absolute;
  content: "";
  height: 15px;
  width: 15px;
  left: 2px;
  bottom: 2px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider-small {
  background-color: #20c997;
}

input:focus + .slider-small {
  box-shadow: 0 0 1px #20c997;
}

input:checked + .slider-small:before {
  -webkit-transform: translateX(15px);
  -ms-transform: translateX(15px);
  transform: translateX(15px);
}

/* Rounded sliders */
.slider-small.round {
  border-radius: 19px;
}

.slider-small.round:before {
  border-radius: 50%;
}
/* END CSS for Slider "checkbox"
 *****/

.aura_container .tilegrid-row {
  width: 37px;
}

.aura_container_caption {
  pointer-events: none;
  float:right;
  position:absolute;
  right:6px;
  top:24px;
}

/* White border and black background for buff icon */
.aura_container_img {
  width: 14px;
  background-color: black;
  border-style: solid;
  border-width: 1px;
  border-color: rgba(255,255,255,0.5);
}

.aura_container_caption div {
  height: 14px;
}

/* White border for text */
.aura_container_caption span {
  padding-left: 2px;
  font-family: Oswald, sans-serif;
  font-size: 8pt;
  font-weight: bold;
}

.stroke-1px {
  text-shadow:
  -1px -1px 0px rgba(255,255,255,0.5),
   0px -1px 0px rgba(255,255,255,0.5),
   1px -1px 0px rgba(255,255,255,0.5),
  -1px  0px 0px rgba(255,255,255,0.5),
   1px  0px 0px rgba(255,255,255,0.5),
  -1px  1px 0px rgba(255,255,255,0.5),
   0px  1px 0px rgba(255,255,255,0.5),
   1px  1px 0px rgba(255,255,255,0.5);
}

.aura_container .tilegrid-row-center .tilegrid-col {
  height: 11px;
}

.aura_container .tilegrid-col {
  width: 11px;
  height: 13px;
}

/* CSS styling for fancy T-Doll select inline tilebuff display */
.aura_container_small {
  pointer-events: none;
  float:right;
  position:absolute;
  width:19px;
  height:19px;
  right:6px;
  top:6px;
}

.aura_container_small .tilegrid-row {
  width: 19px;
}

.aura_container_small .tilegrid-row-center .tilegrid-col {
  display: block;
  width: 5px;
  height: 5px;
}

.aura_container_small .tilegrid-col {
  display: block;
  width: 5px;
  height: 7px;
}

.tilegrid-target {
  background-color: rgb(0,255,252);
}

.tilegrid-self {
  background-color: rgb(255,255,255);
}

.tilegrid-neutral {
  background-color: rgb(107,105,107);
}

.tilebuff-row > * {
  pointer-events: none;
}

.tilebuff-row {
  pointer-events: none;
  left: 4px;
  bottom: 4px;
}

.tilebuff-row div span {
  font-family: Oswald;
  font-size: 18px;
  color: black;
  font-weight: 100;
  text-align: left;
  vertical-align: middle;
}

.fp img, .armor img, .rof img, .eva img, .acc img, .crit img, .skillcd img, .critdmg img, .rounds img, .ap img, .hp img{
  height: 20px;
  width: 20px;
}

.tilebuff-row img {
  height: 27px;
  width: 27px;
  border: 1px solid white;
  background-color: black;
}

.waste {
  color: FIREBRICK;
}

#enemy-eva, #enemy-armor, #enemy-count, #walk-time, #battle-length {
  width: 50px;
}

#day-btn img, #night-btn img {
  height: 23px;
  width: 23px;
  pointer-events: none;
}

.affection img {
  height: 40px;
  width: 40px;
  cursor: pointer;
}

.equip1, .equip2, .equip3 {
  height: 64px;
  width: 64px;
}

.add-doll img, .remove-doll img {
  width: 50px;
}

.img-tooltip-chibi {
  position: relative;
  object-fit: cover;
  width: 120px;
  height: 120px;
  z-index: 9000;
}

/* CSS plus icon behind image */
.chibi-plus-circle {
  border-radius: 50%;
  width: 32px;
  height: 32px;
  background-color: rgba(125,125,125,0.8);
  position: relative;
  top: 2px;
  left: 5px;
  margin-bottom: -32px;
  z-index: 8000;
}

/* CSS class dynamically added/removed with j-query */
.chibi-plus-circle.chibi-plus-circle-hover {
  background-color: rgba(0,163,255,0.8);
}

.chibi-plus-bar {
  margin: 0 auto;
  position: absolute;
  background-color: #fff;
}

.chibi-plus-horizontal {
  width: 70%;
  height: 20%;
  left: 15%;
  top: 40%;
}

.chibi-plus-vertical {
  width: 20%;
  height: 70%;
  left: 40%;
  top: 15%;
}

#equip-select img {
  height: 45px;
  width: 45px;
  pointer-events: none;
}

.stars6 button, img.stars6 {
  background-color: rgb(255, 204, 153);
}

.stars5 button, img.stars5 {
  background-color: rgb(255, 219, 0);
}

.stars4 button, img.stars4 {
  background-color: rgb(137, 191, 23);
}

.stars3 button, img.stars3 {
  background-color: rgb(90, 182, 222);
}

.stars2 button, img.stars2 {
  background-color: rgb(222, 223, 222);
}

.stars1 button, img.stars1 {
  background-color: rgb(222, 182, 255);
}

.tooltip {
  --bg-color: #f8f9fa;
}

.tooltip.show {
  opacity: 1;
}

.tooltip.show:hover {
  opacity: 0.9; /* Let users see what's behind the tooltip when they are mousing over */
}

.tooltip-inner {
  max-width: 450px;
  background-color: var(--bg-color);
  color: #343a40;
  cursor: pointer; /* Applies only to doll select modal tooltip since others can't be moused over */
}

/* CSS Overrides for tooltip arrow */
.bs-tooltip-top .arrow::before {
  border-top-color: var(--bg-color);
}

.bs-tooltip-top-left .arrow::before {
  border-top-color: var(--bg-color);
}

.bs-tooltip-top-right .arrow::before {
  border-top-color:var(--bg-color);
}

.bs-tooltip-right .arrow::before {
  border-right-color: var(--bg-color);
}

.bs-tooltip-left .arrow::before {
  border-left-color: var(--bg-color);
}

.bs-tooltip-bottom .arrow::before {
  border-bottom-color: var(--bg-color);
}

.bs-tooltip-bottom-left .arrow::before {
  border-bottom-color: var(--bg-color);
}

.bs-tooltip-bottom-right .arrow::before {
  border-bottom-color: var(--bg-color);
}

#pos12 img, #pos13 img, #pos14 img, #pos22 img, #pos23 img, #pos24 img, #pos32 img, #pos33 img, #pos34 img {
  pointer-events: none;
  top: 15px;
  left: 15px;
}

.dragging * {
  pointer-events: none;
}

#pos12, #pos13, #pos14, #pos22, #pos23, #pos24, #pos32, #pos33, #pos34 {
  cursor: move;
  /* background-color: rgb(185,185,185); */
  width: 190px;
  height: 190px;
}

.table td {
  padding: 0px;
}

#damage-graph-modal .modal-dialog {
  width: 1000px;
  max-width: 1000px;
}

#doll-select button {
  min-width: 80px;
}

.skill2, .skill-control  {
  visibility: hidden;
}

.doll-level-label, .skill-label, .skill2-label {
  width: 35pt;
}

.fairy-level-label, .fairy-skill-label, .fairy-talent-label, .fairy-rarity-label {
  width: 45pt;
}

#fairy-img {
  width: 150px;
  height: 150px;
}

input[type="number"]::-webkit-outer-spin-button, input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type="number"] {
    -moz-appearance: textfield;
}

.saved-team-col {
  width: 75px;
  background-color: rgb(185,185,185);
}

.saved-team-row {
  height: 75px;
}

.nav-item {
  width: calc(100%/6);
}

.img-nav {
  filter: invert(100%);
}

.active .img-nav {
  filter: invert(0%);
}

#doll-list-6, #doll-list-5, #doll-list-4, #doll-list-3, #doll-list-2, #doll-list-1 {
  height: 70vh;
  overflow-y: auto;
}

/* Allow labels to overflow, limit their size */
.card-body .row.no-gutters.mb-3 div div span {
  max-width: 30pt;
  white-space: nowrap;
}

/* Limit size of doll select column */
#doll1, #doll2, #doll3, #doll4, #doll5 {
  max-width: 160pt;
}

#doll1-name, #doll2-name, #doll3-name, #doll4-name, #doll5-name {
  max-width: 80pt;
}

/* If viewport wider than 1000 pixels, limit to standard bootstrap modal-lg width;
   min-width 1001 to allow smooth transition on resize */
@media (min-width: 1001px) {
  .modal-lg {
    max-width: 800px;
  }
}

/* If viewport narrower than 1000 pixels, make modal up to 80%
   of viewport size or 576 pixels, whichever is larger.

   Allows 5 columns in doll select on wide screens, 4 on narrow */
@media (max-width: 1000px) {
  .modal-lg {
    min-width: 576px;
    max-width: 80vw;
  }
}

.formation-3x3-container {
  background-image: url(/static/girlsfrontline/sim/background.jpg);
  background-repeat: no-repeat;
  background-size: contain;
  width: 570px;
  height: 570px;
}

.doll_portrait_button {
  border: 0px;
  width: 129px;
  height: 85px;
  position: relative;
  background-image: url("/static/girlsfrontline/sim/dolls/icon/spritesheet.png");
  background-repeat: no-repeat;
}

.doll_portrait_caption {
  pointer-events: none;
  background-color: rgba(52,58,64,0.7);
  color: white;
  font-family: 'Roboto Condensed', sans-serif;
  position: absolute;
  bottom: 0%;
  width: 100%;
  left: 0%;
}

/* 38px to fit shotgun HP values */
.doll_tooltip_stat_container_left {
  display: inline-block;
  width: 38px;
  text-align: left;
}

/* 45px to fit '150%' */
.doll_tooltip_stat_container_right {
  display: inline-block;
  width: 45px;
  text-align: left;
}

.doll_tooltip_header {
  font-family: 'Segoe UI', 'Roboto', sans-serif;
  font-size: 12pt;
  margin-bottom: 0px;
}

/* Align text to stat icons */
.doll_tooltip_stat_caption {
  display: inline-block;
  vertical-align: middle;
  padding-left: 2px;
  position: relative;
  bottom: -1px;
  font-family: 'Oswald', sans-serif;
  font-size: 8pt;
}

.doll_portrait_tile_buff {
  font-family: 'Oswald', sans-serif;
}

.hr-sect {
  display: flex;
  flex-basis: 100%;
  align-items: center;
  color: rgba(0, 0, 0, 0.55);
  margin: 8px 0px;
}

.hr-sect::before {
  content: "";
  flex-grow: 1;
  background: rgba(0, 0, 0, 0.1);
  height: 1px;
  font-size: 0px;
  line-height: 0px;
  margin: 0px;
  margin-right: 8px;
}

.hr-sect::after {
  content: "";
  flex-grow: 1;
  background: rgba(0, 0, 0, 0.1);
  height: 1px;
  font-size: 0px;
  line-height: 0px;
  margin: 0px;
  margin-left: 8px;
}

.has_tooltip {
  text-underline-position: under;
  text-decoration: underline rgb(164, 170, 175) dashed;
}

#stars path {
  fill: inherit;
}

.favorite-icon {
  display: block;
  position: absolute;
  top: 0px;
  left: 0px;
  height: 28px;
  margin: auto;
  width: 28px;
  padding: 2px;
  opacity: 0.3;
}

.favorite-icon:hover, .favorite-icon.favorited {
  opacity: 1;
}

.favorite-icon use, .favorite-icon.favorited:hover use {
  fill: #9b9b9b;
}

.favorite-icon.favorited use, .favorite-icon:hover use {
  fill: #e9ba26;
}

/* Loading spinner */
.lds-hourglass {
  display: inline-block;
  position: relative;
  width: 50px;
  height: 50px;
}

.lds-hourglass:after {
  content: "IOP";
  font-family: 'Homenaje', sans-serif;
  font-size: 20pt;
  display: block;
  width: 48px;
  height: 48px;
  margin: 1px;
  border-radius: 50%;
  border: 5px solid #fff;
  border-color: #fff transparent #fff transparent;
  animation: lds-hourglass 2s infinite;
}

@keyframes lds-hourglass {
  0% {
    transform: rotate(0);
    animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
  }
  50% {
    transform: rotate(900deg);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  100% {
    transform: rotate(1800deg);
  }
}
