{% extends "girlsfrontline/base.html" %}

{% block title %}Battery Calculator - brainlets.moe{% endblock %}

{% block main %}
<main class="container">
<div class="row text-center mx-auto" style="max-width:600px">
  <div class="col-sm">
    <label for="numDorms">Number of Dorms:</label>
    <select id="numDorms" class="form-control" onchange="changeDormCount()">
      <option selected>2</option>
      <option>3</option>
      <option>4</option>
      <option>5</option>
      <option>6</option>
      <option>7</option>
      <option>8</option>
      <option>9</option>
      <option>10</option>
    </select>
  </div>
  <div id="comfort" class="col-sm">
    <label>Comfort:</label>
    <input type="number" class="form-control" oninput="calculateBatteries()" placeholder="Dorm 1">
    <input type="number" class="form-control" oninput="calculateBatteries()" placeholder="Dorm 2">
    <input type="number" class="form-control" oninput="calculateBatteries()" placeholder="Dorm 3" hidden>
    <input type="number" class="form-control" oninput="calculateBatteries()" placeholder="Dorm 4" hidden>
    <input type="number" class="form-control" oninput="calculateBatteries()" placeholder="Dorm 5" hidden>
    <input type="number" class="form-control" oninput="calculateBatteries()" placeholder="Dorm 6" hidden>
    <input type="number" class="form-control" oninput="calculateBatteries()" placeholder="Dorm 7" hidden>
    <input type="number" class="form-control" oninput="calculateBatteries()" placeholder="Dorm 8" hidden>
    <input type="number" class="form-control" oninput="calculateBatteries()" placeholder="Dorm 9" hidden>
    <input type="number" class="form-control" oninput="calculateBatteries()" placeholder="Dorm 10" hidden>
  </div>
  <div class="col-sm">
    <label for="batteries">Batteries per day:</label>
    <p id="batteries" class="h1">50</p>
  </div>
</div>
{% load static %}
<script src="{% static 'girlsfrontline/js/batterycalculator.js' %}"></script>
</main>
{% endblock %}
