{% extends "girlsfrontline/base.html" %}

{% block title %}Doll Build Timers - brainlets.moe{% endblock %}

{% block main %}
<p class="h4 text-center">T-doll Construction Timers:</p>
<div id="timer_input" class="row justify-content-center text-center input-group mb-2">
    <input id="hours" type="number" class="form-control col-2" oninput="filterDolls()" onkeyup="focusMinutes()" placeholder="00">
    <span class="h4"> : </span>
    <input id="minutes" type="number" class="form-control col-2" oninput="filterDolls()" placeholder="00">
</div>
<div class="table-responsive bg-light text-dark text-center">
  <table id="dolltable" class="table">
    <thead class="thead">
      <tr>
        <th scope="col">Time</th>
        <th scope="col">Doll</th>
        <th scope="col">Type/Rarity</th>
      </tr>
    </thead>
    <tbody>
      {% for doll in doll_list %}
        <tr>
          <td>{{doll.hours}}:{{doll.minutes}}</td>
          <td class="stars{{doll.rarity}}">{{doll.name}}</td>
          <td>{{doll.type}}<br>{{doll.rarity}}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% load static %}
<script src="{% static 'girlsfrontline/js/dolltimers.js' %}"></script>
{% endblock %}
