{% extends "girlsfrontline/base.html" %}

{% block title %}Equip Build Timers - brainlets.moe{% endblock %}

{% load static %}

{% block head %}
<link rel="stylesheet" href="{% static 'girlsfrontline/css/equiptimers.css' %}">
{% endblock %}

{% block main %}
<main class="container">
<p class="h4 text-center">Equipment Construction Timers:</p>
<div id="timer-input" class="row justify-content-center text-center input-group mb-2 mx-auto">
    <input id="hours" type="number" class="form-control col-2" placeholder="00">
    <span class="h4"> : </span>
    <input id="minutes" type="number" class="form-control col-2" placeholder="00">
</div>
<div id="equip-table" class="table-responsive bg-light text-dark text-center mx-auto">
  <table class="table table-sm">
    <thead class="thead">
      <tr>
        <th scope="col">Time</th>
        <th scope="col">Equip/Fairy</th>
      </tr>
    </thead>
    <tbody>
      {% for equip in equip_list %}
        <tr>
          <td class="align-middle font-weight-bold">{{equip.hours}}:{{equip.minutes}}</td>
          <td class="stars{{equip.rarity}}"><img class="img-fluid" src="{% static 'girlsfrontline/'|add:equip.type|add:'.png' %}"></img></td>
        </tr>
      {% endfor %}
      {% for fairy in fairy_list %}
        <tr>
          <td class="align-middle font-weight-bold">{{fairy.hours}}:{{fairy.minutes}}</td>
          <td><img class="fairy img-fluid" src="{% static 'girlsfrontline/sim/fairies/'|add:fairy.id|add:'.png' %}"></img></td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
<script src="{% static 'girlsfrontline/js/equiptimers.js' %}"></script>
</main>
{% endblock %}
