{% extends "girlsfrontline/base.html" %}

{% block title %}Equip Build Timers - brainlets.moe{% endblock %}

{% block main %}
<p class="h4 text-center">Equipment Construction Timers:</p>
<div id="timer_input" class="row justify-content-center text-center input-group mb-2">
    <input id="hours" type="number" class="form-control col-2" oninput="filterEquips()" onkeyup="focusMinutes()" placeholder="00">
    <span class="h4"> : </span>
    <input id="minutes" type="number" class="form-control col-2" oninput="filterEquips()" placeholder="00">
</div>
<div class="table-responsive bg-light text-dark">
  <table id="equiptable" class="table">
    <thead class="thead">
      <tr>
        <th scope="col">Time</th>
        <th scope="col">Rarity</th>
        <th scope="col">Equip</th>
        <th scope="col">Effects</th>
      </tr>
    </thead>
    <tbody>
      {% for equip in equip_list %}
        <tr>
          <td>{{equip.hours}}:{{equip.minutes}}</td>
          <td>{{equip.rarity }}</td>
          <td>{{equip.type}}</td>
          <td><p class="text-success">{{equip.poseffect}}</p>
            {% if equip.negeffect != 'none' %}
            <p class="text-danger">{{equip.negeffect}}</p>
            {% endif %}
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% load static %}
<script src="{% static 'girlsfrontline/js/equiptimers.js' %}"></script>
{% endblock %}
