{% extends "girlsfrontline/base.html" %}

{% block title %}Equip Build Timers - brainlets.moe{% endblock %}

{% load static %}

{% block head %}
<link rel="stylesheet" href="{% static 'girlsfrontline/css/equiptimers.css' %}">
{% endblock %}

{% block main %}
<main class="container">
<p class="h4 text-center">Equipment Construction Timers:</p>
<div id="timer_input" class="row justify-content-center text-center input-group mb-2">
    <input id="hours" type="number" class="form-control col-2" oninput="filterEquips()" onkeyup="focusMinutes()" placeholder="00">
    <span class="h4"> : </span>
    <input id="minutes" type="number" class="form-control col-2" oninput="filterEquips()" placeholder="00">
</div>
<div class="table-responsive bg-light text-dark text-center">
  <table id="equiptable" class="table table-sm">
    <thead class="thead">
      <tr>
        <th scope="col">Time</th>
        <th scope="col">Equip</th>
        <th scope="col">Effects</th>
      </tr>
    </thead>
    <tbody>
      {% for equip in equip_list %}
        <tr>
          <td class="align-middle">{{equip.hours}}:{{equip.minutes}}</td>
          <td class="stars{{equip.rarity}}"><img class="img-fluid" src="{% static 'girlsfrontline/'|add:equip.type|add:'.png' %}"></img></td>
          <td class="align-middle"><p class="text-success">{{equip.poseffect}}</p>
            {% if equip.negeffect != 'none' %}
            <p class="text-danger">{{equip.negeffect}}</p>
            {% endif %}
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
<script src="{% static 'girlsfrontline/js/equiptimers.js' %}"></script>
</main>
{% endblock %}
