<!doctype html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

		<title>About - brainlets.moe</title>
	</head>

	<body>
		<h1>About brainlets.moe</h1>
		<p>A site made for a brainlet (you), by a brainlet (me).</p>
    <p>The primary purpose of this site is to act as a playground for myself to learn a little about web dev. As such, many pages may contain questionable or exorbitant designs/features. However, any information found within should be accurate.</p>
		<p>This project is under the GNU GPLv3 and the source can be found <a href={{github_url}}>here</a></p>
		<a href="{% url 'index' %}">Return to index</a>
	</body>
</html>
